.board-container {
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  border: none; 
}

.board-container input[type="text"]:focus {
  outline: none;
  border-color: #e3e7ec;
  box-shadow: 0 0 0 2px rgb(230, 231, 231);
}

h3 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.836);
}

th, td {
  padding: 6px 8px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #e0e0e0;
  color: rgba(0, 0, 0, 0.945);
}

table {
border-collapse: collapse;
  width: 100%; 
  max-width: 1200px; 
  background-color: #f1f1f1; 
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4); 
  border: 1px solid #666262;
  margin: 2rem auto;
  font-size: 11px; 
}

thead {
  background-color: #fafafa; 
  color: rgb(109, 106, 106);
  text-align: center;
}

tbody tr {
    background-color: #ffffff; 
}
.action-buttons {
  display: flex;
  justify-content: center;
  gap: 2px;
  flex-wrap: wrap;
}
.btn {
  padding: 4px 10px;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease;
}
.btn.edit {
  background-color: #007bff;
}
.btn.edit:hover {
  background-color: #0056b3;
}

.btn.delete {
  background-color: #dc3545;
}
.btn.delete:hover {
  background-color: #b02a37;
}

.btn.details {
  background-color: #007bff;
}
.btn.details:hover {
  background-color: #0056b3;
}
.emptyMessage {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  color: #ffffff;
  background-color: #02398c;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(1, 61, 135, 0.3);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}